
:root {
  --gradient: linear-gradient(60deg, #141b2d, #6870fa, #141b2d);
  --myGrey: #666666;
  --myBlue: #6870fa;
  --myDarkBlue: #141b2d;
  --myGreen: #4cceac;
  --myRed: #db4f4a;

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

.App {
  text-align: center;
}

.quiz-container {
  margin: auto;
  width: 75vw;
  background: var(--gradient);
}
